<!DOCTYPE html><html lang="en"><head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Visuals HTML5 Template">

        <title>AinzTV ~ Watch Free Anime</title>

        <!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="images/favicon-light.png">

        <!-- All CSS files -->
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/slick.css">
        <link rel="stylesheet" href="css/font-awesome.css">
        <link rel="stylesheet" href="css/slick-theme.css">
        <link rel="stylesheet" href="css/app.css">
        
    </head>

    <body>
        <!-- Preloader -->
        <div id="preloader">
            <img src="/images/loader.gif" alt="Loading..." id="preloader-gif">
        </div>
        
        <!-- Back To Top Start -->
        <a href="#main-wrapper" id="backto-top" class="back-to-top">
            <i class="fas fa-angle-up"></i>
        </a>
        <!-- Main Wrapper Start -->
        <div id="main-wrapper" class="main-wrapper overflow-hidden">

            <!-- Header Area Start -->
            <header>
                <div class="container-fluid">
                    <div class="d-xl-block d-none">
                        <nav class="navbar navbar-expand-xl p-0">
                            <a class="navbar-brand dark-logo d-xl-none" href="home.html"><img alt="" src="images/login.png"></a>
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
                                <i class="fas fa-bars"></i>
                            </button>
                            <div class="collapse navbar-collapse" id="mynavbar">
                                <div class="col-xl-5">
                                    <ul class="navbar-nav mainmenu m-0">
                                        <li class="menu-item-has-children">
                                            <a href="javascript:void(0);" class="active">Home</a>
                                            <ul class="submenu">
                                                <li><a href="./home.html" class="active">Home</a></li>
                                                <li><a href="./index-2.html">Movie (Home 2)</a></li>
                                                <li><a href="./index-3.html">Manga (Home 3)</a></li>
                                                <li><a href="./index-4.html">Blogs (Home 4)</a></li>
                                                <li><a href="./index-5.html">Full Slider (Home 5)</a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item-has-children ">
                                            <a href="javascript:void(0);">Listing</a>
                                            <ul class="submenu">
                                                <li><a href="./movie-listing.html">Movie Listing</a></li>
                                                <li><a href="./anime-listing.html">Anime-listing</a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item-has-children ">
                                            <a href="javascript:void(0);">Detail</a>
                                            <ul class="submenu">
                                                <li><a href="./movie-detail.html">Movie Detail</a></li>
                                                <li><a href=".//anime/">Anime Detail </a></li>
                                                <li><a href="./manga-detail.html">Manga Detail</a></li>
                                                <li><a href="./blog-detail-1.html">Blog Detail 1</a></li>
                                                <li><a href="./blog-detail-2.html">Blog Detail 2</a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item-has-children ">
                                            <a href="javascript:void(0);">Pages</a>
                                            <ul class="submenu">
                                                <li><a href="./manga-content.html">Manga content</a></li>
                                                <li><a href="./404.html">404 Page</a></li>
                                                <li><a href="./login.html">Login</a></li>
                                                <li><a href="./signup.html">Sign UP</a></li>
                                                <li><a href="./comming-soon.html">Coming Soon</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-xl-2 text-center xl-logo">
                                    <a class="navbar-brand m-0 p-0" href="home.html"><img alt="" src="images/logo.png"></a>
                                </div>
                                <div class="col-xl-5 text-end">
                                    <ul class="right-nav navbar-nav mainmenu align-items-center justify-content-end m-0">
                                        <li>
                                            <div class="input-box">
                                                <form action="home.html">
                                                    <input type="text" placeholder="Search..." required="">
                                                    <button class="search" type="submit"><i class="far fa-search search-icon"></i></button>
                                                </form>
                                                <i class="fal fa-times close-icon"></i>
                                            </div>
                                        </li>
                                        <li class="menu-item-has-children st-2">
                                            <a class="notification" href="javascript:void(0);">
                                                <i class="far fa-bell"></i>
                                                <span class="notification-number">1</span>
                                            </a>
                                        </li>
                                        <li class="menu-item-has-children m-0 st-2">
                                            <a href="javascript:void(0);"><img src="images/user-1.png" class="me-2" alt=""><i class="far fa-angle-down "></i></a>
                                            <ul class="submenu">
                                                <li><a href="./login.html" class="mb-16 cus-btn filled color-dark">Log In</a></li>
                                                <li><a href="./signup.html" class="m-0 cus-btn bordered">Sign Up</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
            </header>
            <header class="st-2">
                <div class="container-fluid">
                    <div class="mobile-menu">
                        <div>
                            <a class="navbar-brand" href="home.html"><img alt="" src="images/logo.png"></a>
                        </div>
                        <div class="hamburger-menu">
                            <div class="bar"></div>	
                        </div>
                    </div>
                    <nav class="mobile-navar d-xl-none">
                        <ul>
                            <li class="has-children active">Home <span class="icon-arrow"></span>
                                <ul class="children">
                                    <li><a href="./home.html" class="active">Anime (Home 1)</a></li>
                                    <li><a href="./index-2.html">Movie (Home 2)</a></li>
                                    <li><a href="./index-3.html">Manga (Home 3)</a></li>
                                    <li><a href="./index-4.html">Blogs (Home 4)</a></li>
                                    <li><a href="./index-5.html">Full Slider (Home 5)</a></li>
                                </ul>
                            </li>
                            <li class="has-children">Listing <span class="icon-arrow"></span>
                                <ul class="children">
                                    <li><a href="./movie-listing.html">Movie Listing</a></li>
                                    <li><a href="./anime-listing.html">Anime-listing</a></li>
                                </ul>
                            </li>
                            <li class="has-children">Detail <span class="icon-arrow"></span>
                                <ul class="children">
                                    <li><a href="./movie-detail.html">Movie Detail</a></li>
                                    <li><a href=".//anime/">Anime Detail </a></li>
                                    <li><a href="./manga-detail.html">Manga Detail</a></li>
                                    <li><a href="./blog-detail-1.html">Blog Detail 1</a></li>
                                    <li><a href="./blog-detail-2.html">Blog Detail 2</a></li>
                                </ul>
                            </li>
                            <li class="has-children">Pages <span class="icon-arrow"></span>
                                <ul class="children">
                                    <li><a href="./manga-content.html">Manga content</a></li>
                                    <li><a href="./404.html">404 Page</a></li>
                                    <li><a href="./login.html">Login</a></li>
                                    <li><a href="./signup.html">Sign UP</a></li>
                                    <li><a href="./comming-soon.html">Coming Soon</a></li>
                                </ul>
                            </li>
                        </ul>    
                    </nav>
                </div>
            </header>
            <!-- Header Area end -->

            <!-- Hero Area start -->
            <section class="hero-banner-1 variable-width">   
                <div class="item sm-active sm-dnone">
                    <img src="https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/bx176496-xCNtU4llsUpu.png" class="slider-image" alt="">
                    <div class="content">
                        <a href="/anime/9a16dfb8-8ffc-a0b0-6508-1b291afa04a7"><h2 class="color-white mb-32">Solo Leveling Season 2: Arise from the Shadow</h2></a>
                        <ul class="card-tag unstyled">
                            <li><h5 class="color-primary">New</h5></li>
                            <li class="tag"><h6>13+</h6></li>
                            <li class="tag active"><h6>HD</h6></li>
                            <li class="tag"><h6>Action</h6></li>
                        </ul>
                        <div class="time mb-32">
                            <h5>TV</h5> <h5>23 minute</h5>
                        </div>
                        <div>
                            <a href="/anime/9a16dfb8-8ffc-a0b0-6508-1b291afa04a7" class="cus-btn filled"><i class="far fa-play"></i> Play</a>
                            <a href="/anime/9a16dfb8-8ffc-a0b0-6508-1b291afa04a7" class="cus-btn bordered ms-16"><i class="fal fa-info-circle"></i> More Info</a>
                        </div>
                    </div>
                </div>
                <div class="item sm-active sm-dnone">
                    <img src="https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/bx177709-jBQ965JZG0l8.png" class="slider-image" alt="Sakamoto Days">
                    <div class="content">
                        <a href="/anime/cca02b8c-402f-b5a1-d23f-b1e75fd7ec89"><h2 class="color-white mb-32">Sakamoto Days</h2></a>
                        <ul class="card-tag unstyled">
                            <li><h5 class="color-primary">New</h5></li>
                            <li class="tag"><h6>18+</h6></li>
                            <li class="tag active"><h6>HD</h6></li>
                            <li class="tag"><h6>Action</h6></li>
                        </ul>
                        <div class="time mb-32">
                            <h5>TV</h5> <h5>23 minutes</h5>
                        </div>
                    <div>
                        <a href="/anime/cca02b8c-402f-b5a1-d23f-b1e75fd7ec89" class="cus-btn filled"><i class="far fa-play"></i> Play</a>
                        <a href="/anime/cca02b8c-402f-b5a1-d23f-b1e75fd7ec89" class="cus-btn bordered ms-16"><i class="fal fa-info-circle"></i> More Info</a>
                    </div>
                    </div>
                </div>
                <div class="item sm-active sm-dnone">
                    <img src="https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/bx176301-AclxpmzlKoBM.jpg" class="slider-image" alt="he Apothecary Diaries Season 2">
                    <div class="content">
                        <a href="/anime/44302c02-ac39-d56b-1bf4-a7e9628f9c8d"><h2 class="color-white mb-32">The Apothecary Diaries Season 2</h2></a>
                        <ul class="card-tag unstyled">
                            <li><h5 class="color-primary">New</h5></li>
                            <li class="tag"><h6>13+</h6></li>
                            <li class="tag active"><h6>HD</h6></li>
                            <li class="tag"><h6>Mystery</h6></li>
                        </ul>
                        <div class="time mb-32">
                            <h5>TV</h5> <h5>24 minutes</h5>
                        </div>
                        <div>
                            <a href="/anime/44302c02-ac39-d56b-1bf4-a7e9628f9c8d" class="cus-btn filled"><i class="far fa-play"></i> Play</a>
                            <a href="/anime/44302c02-ac39-d56b-1bf4-a7e9628f9c8d" class="cus-btn bordered ms-16"><i class="fal fa-info-circle"></i> More Info</a>
                        </div>
                    </div>
                </div>
                <div class="item sm-active active">
                    <img src="https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/bx172019-y0dLlAdingR2.jpg" class="slider-image" alt="Dr. Stone: Science Future">
                    <div class="content">
                        <a href="/anime/16b6c27a-3b85-0e65-ace7-cac43f3809b0"><h2 class="color-white mb-32">Dr. Stone: Science Future</h2></a>
                        <ul class="card-tag unstyled">
                            <li><h5 class="color-primary">New</h5></li>
                            <li class="tag"><h6>13+</h6></li>
                            <li class="tag active"><h6>HD</h6></li>
                            <li class="tag"><h6>Sci-Fi</h6></li>
                        </ul>
                        <div class="time mb-32">
                            <h5>TV</h5> <h5>24 minutes</h5>
                        </div>
                        <div>
                            <a href="/anime/16b6c27a-3b85-0e65-ace7-cac43f3809b0" class="cus-btn filled"><i class="far fa-play"></i> Play</a>
                            <a href="/anime/16b6c27a-3b85-0e65-ace7-cac43f3809b0" class="cus-btn bordered ms-16"><i class="fal fa-info-circle"></i> More Info</a>
                        </div>
                    </div>
                </div>
                <div class="item sm-active">
                    <img src="https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/bx172258-CFvhqor0blLV.jpg" class="slider-image" alt="The 100 Girlfriends Who Really, Really, Really, Really, Really Love You Season 2">
                    <div class="content">
                        <a href="/anime/9250e982-1347-8a10-6da8-2a41b5f664d7"><h2 class="color-white mb-32">The 100 Girlfriends Who Really, Really, Really, Really, Really Love You Season 2</h2></a>
                        <ul class="card-tag unstyled">
                            <li><h5 class="color-primary">New</h5></li>
                            <li class="tag"><h6>13+</h6></li>
                            <li class="tag active"><h6>HD</h6></li>
                            <li class="tag"><h6>Romance</h6></li>
                        </ul>
                        <div class="time mb-32">
                            <h5>TV</h5> <h5>23 minutes</h5>
                        </div>
                        <div>
                            <a href="/anime/9250e982-1347-8a10-6da8-2a41b5f664d7" class="cus-btn filled"><i class="far fa-play"></i> Play</a>
                            <a href="/anime/9250e982-1347-8a10-6da8-2a41b5f664d7" class="cus-btn bordered ms-16"><i class="fal fa-info-circle"></i> More Info</a>
                        </div>
                    </div>
                </div>
                <div class="item sm-active">
                    <img src="https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/bx178462-YW6BgSGGP4az.jpg" class="slider-image" alt="I'm Getting Married to a Girl I Hate in My Class">
                    <div class="content">
                        <a href="/anime/5a1ab939-60e6-f3d6-ca8d-88824743fe54"><h2 class="color-white mb-32">I'm Getting Married to a Girl I Hate in My Class</h2></a>
                        <ul class="card-tag unstyled">
                            <li><h5 class="color-primary">New</h5></li>
                            <li class="tag"><h6>13+</h6></li>
                            <li class="tag active"><h6>HD</h6></li>
                            <li class="tag"><h6>Romance</h6></li>
                        </ul>
                        <div class="time mb-32">
                            <h5>TV</h5> <h5>23 minutes</h5>
                        </div>
                        <div>
                            <a href="/anime/5a1ab939-60e6-f3d6-ca8d-88824743fe54" class="cus-btn filled"><i class="far fa-play"></i> Play</a>
                            <a href="/anime/5a1ab939-60e6-f3d6-ca8d-88824743fe54" class="cus-btn bordered ms-16"><i class="fal fa-info-circle"></i> More Info</a>
                        </div>
                    </div>
                </div>
                <div class="item sm-active">
                    <img src="https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/bx167143-SoFo5kOvlkbO.jpg" class="slider-image" alt="I May Be a Guild Receptionist, but I'll Solo Any Boss to Clock Out on Time">
                    <div class="content">
                        <a href="/anime/fcac412b-ce48-3ebc-5ef3-c4fb71f98c9b"><h2 class="color-white mb-32">I May Be a Guild Receptionist, but I'll Solo Any Boss to Clock Out on Time</h2></a>
                        <ul class="card-tag unstyled">
                            <li><h5 class="color-primary">New</h5></li>
                            <li class="tag"><h6>13+</h6></li>
                            <li class="tag active"><h6>HD</h6></li>
                            <li class="tag"><h6>Adventure</h6></li>
                        </ul>
                        <div class="time mb-32">
                            <h5>TV</h5> <h5>24 minutes</h5>
                        </div>
                        <div>
                            <a href="/anime/fcac412b-ce48-3ebc-5ef3-c4fb71f98c9b" class="cus-btn filled"><i class="far fa-play"></i> Play</a>
                            <a href="/anime/fcac412b-ce48-3ebc-5ef3-c4fb71f98c9b" class="cus-btn bordered ms-16"><i class="fal fa-info-circle"></i> More Info</a>
                        </div>
                    </div>
                </div>
                <div class="item sm-active">
                    <img src="https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/bx169441-wIQe1xfCc1XS.jpg" class="slider-image" alt="My Happy Marriage Season 2">
                    <div class="content">
                        <a href="/anime/a30e0bd5-7158-2421-f91a-3befec5a2358"><h2 class="color-white mb-32">My Happy Marriage Season 2</h2></a>
                        <ul class="card-tag unstyled">
                            <li><h5 class="color-primary">New</h5></li>
                            <li class="tag"><h6>13+</h6></li>
                            <li class="tag active"><h6>HD</h6></li>
                            <li class="tag"><h6>Romance</h6></li>
                        </ul>
                        <div class="time mb-32">
                            <h5>TV</h5> <h5>23 minutes</h5>
                        </div>
                        <div>
                            <a href="/anime/a30e0bd5-7158-2421-f91a-3befec5a2358" class="cus-btn filled"><i class="far fa-play"></i> Play</a>
                            <a href="/anime/a30e0bd5-7158-2421-f91a-3befec5a2358" class="cus-btn bordered ms-16"><i class="fal fa-info-circle"></i> More Info</a>
                        </div>
                    </div>
                </div>
                <div class="item sm-active">
                    <img src="https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/bx175443-yeamxYxCwLSe.jpg" class="slider-image" alt="Honey Lemon Soda">
                    <div class="content">
                        <a href="/anime/e14ed9b6-02fc-3cb9-b2c7-a5e954d55593"><h2 class="color-white mb-32">Honey Lemon Soda</h2></a>
                        <ul class="card-tag unstyled">
                            <li><h5 class="color-primary">New</h5></li>
                            <li class="tag"><h6>18+</h6></li>
                            <li class="tag active"><h6>HD</h6></li>
                            <li class="tag"><h6>Romance</h6></li>
                        </ul>
                        <div class="time mb-32">
                            <h5>TV</h5> <h5>22 minutes</h5>
                        </div>
                        <div>
                            <a href="/anime/e14ed9b6-02fc-3cb9-b2c7-a5e954d55593" class="cus-btn filled"><i class="far fa-play"></i> Play</a>
                            <a href="/anime/e14ed9b6-02fc-3cb9-b2c7-a5e954d55593" class="cus-btn bordered ms-16"><i class="fal fa-info-circle"></i> More Info</a>
                        </div>
                    </div>
                </div>
                <div class="item sm-active">
                    <img src="https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/bx177552-JPx2rIXeprne.jpg" class="slider-image" alt="Medaka Kuroiwa is Impervious to My Charms">
                    <div class="content">
                        <a href="/anime/a717dbed-5557-4c05-f52a-3dc3e94d421c"><h2 class="color-white mb-32">Medaka Kuroiwa is Impervious to My Charms</h2></a>
                        <ul class="card-tag unstyled">
                            <li><h5 class="color-primary">New</h5></li>
                            <li class="tag"><h6>13+</h6></li>
                            <li class="tag active"><h6>HD</h6></li>
                            <li class="tag"><h6>Comedy</h6></li>
                        </ul>
                        <div class="time mb-32">
                            <h5>TV</h5> <h5>23 minutes</h5>
                        </div>
                        <div>
                            <a href="/anime/a717dbed-5557-4c05-f52a-3dc3e94d421c" class="cus-btn filled"><i class="far fa-play"></i> Play</a>
                            <a href="/anime/a717dbed-5557-4c05-f52a-3dc3e94d421c" class="cus-btn bordered ms-16"><i class="fal fa-info-circle"></i> More Info</a>
                        </div>
                    </div>
                </div>
                <div class="item sm-active">
                    <img src="https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/bx177506-in4J0GNzjOZL.jpg" class="slider-image" alt="Possibly the Greatest Alchemist of All Time">
                    <div class="content">
                        <a href="/anime/4f7dca16-a44d-e615-d885-75aaa3f13a3c"><h2 class="color-white mb-32">Possibly the Greatest Alchemist of All Time</h2></a>
                        <ul class="card-tag unstyled">
                            <li><h5 class="color-primary">New</h5></li>
                            <li class="tag"><h6>13+</h6></li>
                            <li class="tag active"><h6>HD</h6></li>
                            <li class="tag"><h6>Adventure</h6></li>
                        </ul>
                        <div class="time mb-32">
                            <h5>TV</h5> <h5>23 minutes</h5>
                        </div>
                        <div>
                            <a href="/anime/4f7dca16-a44d-e615-d885-75aaa3f13a3c" class="cus-btn filled"><i class="far fa-play"></i> Play</a>
                            <a href="/anime/4f7dca16-a44d-e615-d885-75aaa3f13a3c" class="cus-btn bordered ms-16"><i class="fal fa-info-circle"></i> More Info</a>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Hero Area end -->
            
            <!-- Main Content Start -->
            <div class="page-content">
                <!-- trending Area start -->
                <section class="trending p-80">
                    <div class="container-fluid">
                        <h2 class="color-white mb-48">Trending Shows</h2>
                        <div class="scrolling">
                            <div class="row">
                                <div class="col-xl-6">
                                    <div class="trend-block">
                                        <div class="row">
                                            <div class="col-sm-6 pe-lg-0">
                                                <div class="text">
                                                    <h4>TRENDING</h4>
                                                    <h2 style="background-image: url(https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/bx163134-Y0r8AGBeVlCi.jpg);">01</h2>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 ps-lg-0">
                                                <div class="img-block">
                                                    <img src="https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/bx163134-Y0r8AGBeVlCi.jpg" style="object-fit: cover; height: 250px; width: 100%;" alt="Re:ZERO -Starting Life in Another World- Season 3">
                                                    <div class="overlay"></div>
                                                    <div class="btn-block">
                                                        <a href="/anime/3420b4b6-3645-0c62-5f12-b213782a83c5" class="cus-btn filled"><i class="far fa-play"></i> Play</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <div class="trend-block">
                                        <div class="row">
                                            <div class="col-sm-6 pe-lg-0">
                                                <div class="text">
                                                    <h4>TRENDING</h4>
                                                    <h2 style="background-image: url(https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/bx178548-4QkzBuJAx8w7.jpg);">02</h2>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 ps-lg-0">
                                                <div class="img-block">
                                                    <img src="https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/bx178548-4QkzBuJAx8w7.jpg" style="object-fit: cover; height: 250px; width: 100%;" alt="Even Given the Worthless Appraiser Class, I’m Actually the Strongest">
                                                    <div class="overlay"></div>
                                                    <div class="btn-block">
                                                        <a href="/anime/deffe60c-f1fa-7488-20cd-1a26e8a7cfa4" class="cus-btn filled"><i class="far fa-play"></i> Play</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <div class="trend-block">
                                        <div class="row">
                                            <div class="col-sm-6 pe-lg-0">
                                                <div class="text">
                                                    <h4>TRENDING</h4>
                                                    <h2 style="background-image: url(https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/bx170942-B77wUSM1jQTu.jpg);">03</h2>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 ps-lg-0">
                                                <div class="img-block">
                                                    <img src="https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/bx170942-B77wUSM1jQTu.jpg" style="object-fit: cover; height: 250px; width: 100%;" alt="Blue Box">
                                                    <div class="overlay"></div>
                                                    <div class="btn-block">
                                                        <a href="/anime/2980ea21-9e1a-8a3a-8999-64bfbdce3fa4" class="cus-btn filled"><i class="far fa-play"></i> Play</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <div class="trend-block">
                                        <div class="row">
                                            <div class="col-sm-6 pe-lg-0">
                                                <div class="text">
                                                    <h4>TRENDING</h4>
                                                    <h2 style="background-image: url(https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/bx180292-GG0nwYZ5HeN7.jpg);">04</h2>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 ps-lg-0">
                                                <div class="img-block">
                                                    <img src="https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/bx180292-GG0nwYZ5HeN7.jpg" style="object-fit: cover; height: 250px; width: 100%;" alt="The Daily Life of a Middle-Aged Online Shopper in Another World">
                                                    <div class="overlay"></div>
                                                    <div class="btn-block">
                                                        <a href="/anime/ca6f571a-af01-e668-a135-0123506eff35" class="cus-btn filled"><i class="far fa-play"></i> Play</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <div class="trend-block">
                                        <div class="row">
                                            <div class="col-sm-6 pe-lg-0">
                                                <div class="text">
                                                    <h4>TRENDING</h4>
                                                    <h2 style="background-image: url(https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/bx176496-xCNtU4llsUpu.png);">05</h2>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 ps-lg-0">
                                                <div class="img-block">
                                                    <img src="https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/bx176496-xCNtU4llsUpu.png" style="object-fit: cover; height: 250px; width: 100%;" alt="Solo Leveling Season 2: Arise from the Shadow">
                                                    <div class="overlay"></div>
                                                    <div class="btn-block">
                                                        <a href="/anime/9a16dfb8-8ffc-a0b0-6508-1b291afa04a7" class="cus-btn filled"><i class="far fa-play"></i> Play</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <div class="trend-block">
                                        <div class="row">
                                            <div class="col-sm-6 pe-lg-0">
                                                <div class="text">
                                                    <h4>TRENDING</h4>
                                                    <h2 style="background-image: url(https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/bx172453-7iYNTAEZpNsJ.png);">06</h2>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 ps-lg-0">
                                                <div class="img-block">
                                                    <img src="https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/bx172453-7iYNTAEZpNsJ.png" style="object-fit: cover; height: 250px; width: 100%;" alt="From Bureaucrat to Villainess: Dad's Been Reincarnated!">
                                                    <div class="overlay"></div>
                                                    <div class="btn-block">
                                                        <a href="/anime/32ccffa7-8663-62aa-4103-7570e300000b" class="cus-btn filled"><i class="far fa-play"></i> Play</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <div class="trend-block">
                                        <div class="row">
                                            <div class="col-sm-6 pe-lg-0">
                                                <div class="text">
                                                    <h4>TRENDING</h4>
                                                    <h2 style="background-image: url(https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/bx21-YCDoj1EkAxFn.jpg);">07</h2>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 ps-lg-0">
                                                <div class="img-block">
                                                    <img src="https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/bx21-YCDoj1EkAxFn.jpg" style="object-fit: cover; height: 250px; width: 100%;" alt="One Piece">
                                                    <div class="overlay"></div>
                                                    <div class="btn-block">
                                                        <a href="/anime/d58fc9f8-582e-fdf0-3618-112cd54ed5ab" class="cus-btn filled"><i class="far fa-play"></i> Play</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <div class="trend-block">
                                        <div class="row">
                                            <div class="col-sm-6 pe-lg-0">
                                                <div class="text">
                                                    <h4>TRENDING</h4>
                                                    <h2 style="background-image: url(https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/bx176301-AclxpmzlKoBM.jpg);">08</h2>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 ps-lg-0">
                                                <div class="img-block">
                                                    <img src="https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/bx176301-AclxpmzlKoBM.jpg" style="object-fit: cover; height: 250px; width: 100%;" alt="The Apothecary Diaries Season 2">
                                                    <div class="overlay"></div>
                                                    <div class="btn-block">
                                                        <a href="/anime/44302c02-ac39-d56b-1bf4-a7e9628f9c8d" class="cus-btn filled"><i class="far fa-play"></i> Play</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <div class="trend-block">
                                        <div class="row">
                                            <div class="col-sm-6 pe-lg-0">
                                                <div class="text st-9">
                                                    <h4>TRENDING</h4>
                                                    <h2>09</h2>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 ps-lg-0">
                                                <div class="img-block">
                                                    <img src="images/anime-card-9.png" alt="">
                                                    <div class="overlay"></div>
                                                    <div class="btn-block">
                                                        <a href="/anime/" class="cus-btn filled"><i class="far fa-play"></i> Play</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <div class="trend-block">
                                        <div class="row">
                                            <div class="col-sm-6 pe-lg-0">
                                                <div class="text st-10">
                                                    <h4>TRENDING</h4>
                                                    <h2>10</h2>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 ps-lg-0">
                                                <div class="img-block">
                                                    <img src="images/anime-card-10_1.png" alt="">
                                                    <div class="overlay"></div>
                                                    <div class="btn-block">
                                                        <a href="/anime/" class="cus-btn filled"><i class="far fa-play"></i> Play</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
    
                    </div>
                </section>
                <!-- trending Area end -->
    
                <!-- Recently Released Area start -->
                <section class="featured p-80">
                    <div class="container-fluid">
                        <h2 class="color-white mb-48">Recently Released</h2>
                        <div class="row">
                            <% if (animeList.length > 0) { %>
                                <% animeList.forEach(anime => { %>
                                    <div class="col-xl-3 col-lg-4 col-md-6">
                                        <div class="featured-card mb-24">
                                            <img src="https://natomanga-graphql-api.onrender.com/proxy-image?url=<%= anime.snapshot %>" alt="<%= anime.anime_title %>">
                                            <div class="content">
                                                <a href="/anime/<%= anime.anime_session %>">
                                                    <h3 class="color-white mb-32"><%= anime.anime_title %></h3>
                                                </a>
                                                <ul class="card-tag-st unstyled">
                                                    <li><h5 class="color-primary">New</h5></li>
                                                    <li class="tag"><h6>Episode <%= anime.episode %></h6></li>
                                                    <li class="tag"><h6 class="color-primary">HD</h6></li>
                                                    <li class="tag"><h6><%= anime.fansub %></h6></li>
                                                </ul>
                                                <div class="d-flex align-items-center">
                                                    <a href="/play/<%= anime.anime_session %>/<%= anime.session %>" class="cus-btn filled">
                                                        <i class="far fa-play"></i>Play
                                                    </a>
                                                    <a href="/anime/<%= anime.anime_session %>" class="cus-btn bordered ms-16">
                                                        <i class="fal fa-info-circle"></i>More Info
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                <% }) %>
                            <% } else { %>
                                <p class="color-white">No recent releases found.</p>
                            <% } %>
                        </div>
                    </div>
                </section>                
                <!-- Recently Released Area end -->
    
                <!-- Coming Soon Area start -->
                <section class="coming-soon-block st-1 m-80">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <div class="col-xl-4 col-lg-6 pe-lg-0 col-md-8">
                                <div class="top-title ">
                                    <h4 class="color-dark">Coming Soon!</h4>
                                </div>
                                <div class="content">
                                    <h2 class="color-white mb-8">One Punch Man 3</h2>
                                    <p class="color-white mb-32">
                                        Saitama is a hero who only became a hero for fun. After three years of "special training," he’s become so strong that he's practically invincible. In fact, he's too strong—even his mightiest opponents are taken out with a single punch. Alongside Genos, his faithful disciple, Saitama performs his official hero duties as a member of the Hero Association.
                                        
                                        One day, monsters claiming to be from the Monster Association suddenly appeared, taking a child of Hero Association executive hostage. The S-class heroes gather and plan a raid on the Monster Association hideout to rescue the hostage. Meanwhile, Garou, a "human monster" who was taken by the Monster Association during a battle with the heroes, awakens in the Monster Association hideout.</p>
                                    <ul class="card-tag-st unstyled mb-16">
                                        <li class="tag"><p class="color-white">TV</p></li>
                                        <li class="tag"><p class="color-white">Fall 2025</p></li>
                                        <li><h5 class="color-white">October 2025</h5></li>
                                    </ul>
                                    <h5 class="color-white mb-32"><b class="color-primary">Studio:</b> J.C.STAFF</h5>
                                    <a href="#" class="cus-btn filled mb-32"><i class="far fa-play"></i> Watch Trailer</a>
                                    <ul class="timer countdown mb-0">
                                        <li>192<span>Days</span></li>
                                        <li>14<span>Hrs</span></li>
                                        <li>45<span>Min</span></li>
                                        <li class="m-0">3<span>Sec</span></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xl-8 col-lg-6 ps-lg-0 text-end">
                                <div class="card-img">
                                    <img src="images/movie-card-2.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Coming Soon Area end -->

                <!-- Thriller Area start -->
                <section class="p-80">
                    <div class="container-fluid">
                        <div class="d-flex justify-content-between column-gap-3 align-items-center mb-48">
                            <h2 class="color-white">Thriller</h2>
                            <div class="slider-arrow">
                                <button class="arrow prev-btn" data-slide="suggestion-slider-1">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 28" fill="none">
                                        <line x1="1.5" y1="-1.5" x2="18.5028" y2="-1.5" transform="matrix(-0.707107 0.707107 0.707107 0.707107 16.144 1.7865)" stroke-width="3" stroke-linecap="round"></line>
                                        <line x1="1.5" y1="-1.5" x2="18.4966" y2="-1.5" transform="matrix(-0.707107 -0.707107 -0.707107 0.707107 14.0625 28)" stroke-width="3" stroke-linecap="round"></line>
                                    </svg>
                                </button> 
                                <button class="arrow next-btn" data-slide="suggestion-slider-1">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 28" fill="none">
                                        <line x1="2.14476" y1="1.80408" x2="14.1675" y2="13.8268" stroke-width="3" stroke-linecap="round"></line>
                                        <line x1="2.10449" y1="25.8963" x2="14.1229" y2="13.8779" stroke-width="3" stroke-linecap="round"></line>
                                    </svg>
                                </button>
                            </div>
                        </div>
                        <div class="suggestion-slider suggestion-slider-1">
                            <div class="featured-card">
                                <img src="images/anime-card-13.png" alt="">
                                <div class="content">
                                    <a href="/anime/"><h3 class="color-white mb-32">Silent Voice</h3></a>
                                    <ul class="card-tag-st unstyled">
                                        <li><h5 class="color-primary">New</h5></li>
                                        <li class="tag"><h6>18+</h6></li>
                                        <li class="tag"><h6 class="color-primary">HD</h6></li>
                                        <li class="tag"><h6>CC</h6></li>
                                    </ul>
                                    <h5 class="mb-32">Movie 1hr 45m</h5>
                                    <div class="d-flex align-items-center">
                                        <a href="/anime/" class="cus-btn filled"><i class="far fa-play"></i>Play</a>
                                        <a href="/anime/" class="cus-btn bordered ms-16"> <i class="fal fa-info-circle"></i>More Info</a>
                                    </div>
                                </div>
                            </div>
                            <div class="featured-card">
                                <img src="images/anime-card-15.png" alt="">
                                <div class="content">
                                    <a href="/anime/"><h3 class="color-white mb-32">Silent Voice</h3></a>
                                    <ul class="card-tag-st unstyled">
                                        <li><h5 class="color-primary">New</h5></li>
                                        <li class="tag"><h6>18+</h6></li>
                                        <li class="tag"><h6 class="color-primary">HD</h6></li>
                                        <li class="tag"><h6>CC</h6></li>
                                    </ul>
                                    <h5 class="mb-32">Movie 1hr 45m</h5>
                                    <div class="d-flex align-items-center">
                                        <a href="/anime/" class="cus-btn filled"><i class="far fa-play"></i>Play</a>
                                        <a href="/anime/" class="cus-btn bordered ms-16"> <i class="fal fa-info-circle"></i>More Info</a>
                                    </div>
                                </div>
                            </div>
                            <div class="featured-card">
                                <img src="images/anime-card-16.png" alt="">
                                <div class="content">
                                    <a href="/anime/"><h3 class="color-white mb-32">Silent Voice</h3></a>
                                    <ul class="card-tag-st unstyled">
                                        <li><h5 class="color-primary">New</h5></li>
                                        <li class="tag"><h6>18+</h6></li>
                                        <li class="tag"><h6 class="color-primary">HD</h6></li>
                                        <li class="tag"><h6>CC</h6></li>
                                    </ul>
                                    <h5 class="mb-32">Movie 1hr 45m</h5>
                                    <div class="d-flex align-items-center">
                                        <a href="/anime/" class="cus-btn filled"><i class="far fa-play"></i>Play</a>
                                        <a href="/anime/" class="cus-btn bordered ms-16"> <i class="fal fa-info-circle"></i>More Info</a>
                                    </div>
                                </div>
                            </div>
                            <div class="featured-card">
                                <img src="images/anime-card-20.png" alt="">
                                <div class="content">
                                    <a href="/anime/"><h3 class="color-white mb-32">Silent Voice</h3></a>
                                    <ul class="card-tag-st unstyled">
                                        <li><h5 class="color-primary">New</h5></li>
                                        <li class="tag"><h6>18+</h6></li>
                                        <li class="tag"><h6 class="color-primary">HD</h6></li>
                                        <li class="tag"><h6>CC</h6></li>
                                    </ul>
                                    <h5 class="mb-32">Movie 1hr 45m</h5>
                                    <div class="d-flex align-items-center">
                                        <a href="/anime/" class="cus-btn filled"><i class="far fa-play"></i>Play</a>
                                        <a href="/anime/" class="cus-btn bordered ms-16"> <i class="fal fa-info-circle"></i>More Info</a>
                                    </div>
                                </div>
                            </div>
                            <div class="featured-card">
                                <img src="images/anime-card-19.png" alt="">
                                <div class="content">
                                    <a href="/anime/"><h3 class="color-white mb-32">Silent Voice</h3></a>
                                    <ul class="card-tag-st unstyled">
                                        <li><h5 class="color-primary">New</h5></li>
                                        <li class="tag"><h6>18+</h6></li>
                                        <li class="tag"><h6 class="color-primary">HD</h6></li>
                                        <li class="tag"><h6>CC</h6></li>
                                    </ul>
                                    <h5 class="mb-32">Movie 1hr 45m</h5>
                                    <div class="d-flex align-items-center">
                                        <a href="/anime/" class="cus-btn filled"><i class="far fa-play"></i>Play</a>
                                        <a href="/anime/" class="cus-btn bordered ms-16"> <i class="fal fa-info-circle"></i>More Info</a>
                                    </div>
                                </div>
                            </div>
                            <div class="featured-card">
                                <img src="images/anime-card-18.png" alt="">
                                <div class="content">
                                    <a href="/anime/"><h3 class="color-white mb-32">Silent Voice</h3></a>
                                    <ul class="card-tag-st unstyled">
                                        <li><h5 class="color-primary">New</h5></li>
                                        <li class="tag"><h6>18+</h6></li>
                                        <li class="tag"><h6 class="color-primary">HD</h6></li>
                                        <li class="tag"><h6>CC</h6></li>
                                    </ul>
                                    <h5 class="mb-32">Movie 1hr 45m</h5>
                                    <div class="d-flex align-items-center">
                                        <a href="/anime/" class="cus-btn filled"><i class="far fa-play"></i>Play</a>
                                        <a href="/anime/" class="cus-btn bordered ms-16"> <i class="fal fa-info-circle"></i>More Info</a>
                                    </div>
                                </div>
                            </div>
                            <div class="featured-card">
                                <img src="images/anime-card-17.png" alt="">
                                <div class="content">
                                    <a href="/anime/"><h3 class="color-white mb-32">Silent Voice</h3></a>
                                    <ul class="card-tag-st unstyled">
                                        <li><h5 class="color-primary">New</h5></li>
                                        <li class="tag"><h6>18+</h6></li>
                                        <li class="tag"><h6 class="color-primary">HD</h6></li>
                                        <li class="tag"><h6>CC</h6></li>
                                    </ul>
                                    <h5 class="mb-32">Movie 1hr 45m</h5>
                                    <div class="d-flex align-items-center">
                                        <a href="/anime/" class="cus-btn filled"><i class="far fa-play"></i>Play</a>
                                        <a href="/anime/" class="cus-btn bordered ms-16"> <i class="fal fa-info-circle"></i>More Info</a>
                                    </div>
                                </div>
                            </div>
                            <div class="featured-card">
                                <img src="images/anime-card-14.png" alt="">
                                <div class="content">
                                    <a href="/anime/"><h3 class="color-white mb-32">Silent Voice</h3></a>
                                    <ul class="card-tag-st unstyled">
                                        <li><h5 class="color-primary">New</h5></li>
                                        <li class="tag"><h6>18+</h6></li>
                                        <li class="tag"><h6 class="color-primary">HD</h6></li>
                                        <li class="tag"><h6>CC</h6></li>
                                    </ul>
                                    <h5 class="mb-32">Movie 1hr 45m</h5>
                                    <div class="d-flex align-items-center">
                                        <a href="/anime/" class="cus-btn filled"><i class="far fa-play"></i>Play</a>
                                        <a href="/anime/" class="cus-btn bordered ms-16"> <i class="fal fa-info-circle"></i>More Info</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Thriller Area end -->

                <!-- Shounen Area start -->
                <section class="p-80">
                    <div class="container-fluid">
                        <div class="d-flex justify-content-between column-gap-3 align-items-center mb-48">
                            <h2 class="color-white">Shounen</h2>
                            <div class="slider-arrow">
                                <button class="arrow prev-btn" data-slide="suggestion-slider-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 28" fill="none">
                                        <line x1="1.5" y1="-1.5" x2="18.5028" y2="-1.5" transform="matrix(-0.707107 0.707107 0.707107 0.707107 16.144 1.7865)" stroke-width="3" stroke-linecap="round"></line>
                                        <line x1="1.5" y1="-1.5" x2="18.4966" y2="-1.5" transform="matrix(-0.707107 -0.707107 -0.707107 0.707107 14.0625 28)" stroke-width="3" stroke-linecap="round"></line>
                                    </svg>
                                </button> 
                                <button class="arrow next-btn" data-slide="suggestion-slider-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 28" fill="none">
                                        <line x1="2.14476" y1="1.80408" x2="14.1675" y2="13.8268" stroke-width="3" stroke-linecap="round"></line>
                                        <line x1="2.10449" y1="25.8963" x2="14.1229" y2="13.8779" stroke-width="3" stroke-linecap="round"></line>
                                    </svg>
                                </button>
                            </div>
                        </div>
                        <div class="suggestion-slider suggestion-slider-2">
                            <div class="featured-card">
                                <img src="images/anime-card-5.png" alt="">
                                <div class="content">
                                    <a href="/anime/"><h3 class="color-white mb-32">Silent Voice</h3></a>
                                    <ul class="card-tag-st unstyled">
                                        <li><h5 class="color-primary">New</h5></li>
                                        <li class="tag"><h6>18+</h6></li>
                                        <li class="tag"><h6 class="color-primary">HD</h6></li>
                                        <li class="tag"><h6>CC</h6></li>
                                    </ul>
                                    <h5 class="mb-32">Movie 1hr 45m</h5>
                                    <div class="d-flex align-items-center">
                                        <a href="/anime/" class="cus-btn filled"><i class="far fa-play"></i>Play</a>
                                        <a href="/anime/" class="cus-btn bordered ms-16"> <i class="fal fa-info-circle"></i>More Info</a>
                                    </div>
                                </div>
                            </div>
                            <div class="featured-card">
                                <img src="images/anime-card-6_1.png" alt="">
                                <div class="content">
                                    <a href="/anime/"><h3 class="color-white mb-32">Silent Voice</h3></a>
                                    <ul class="card-tag-st unstyled">
                                        <li><h5 class="color-primary">New</h5></li>
                                        <li class="tag"><h6>18+</h6></li>
                                        <li class="tag"><h6 class="color-primary">HD</h6></li>
                                        <li class="tag"><h6>CC</h6></li>
                                    </ul>
                                    <h5 class="mb-32">Movie 1hr 45m</h5>
                                    <div class="d-flex align-items-center">
                                        <a href="/anime/" class="cus-btn filled"><i class="far fa-play"></i>Play</a>
                                        <a href="/anime/" class="cus-btn bordered ms-16"> <i class="fal fa-info-circle"></i>More Info</a>
                                    </div>
                                </div>
                            </div>
                            <div class="featured-card">
                                <img src="images/anime-card-21.png" alt="">
                                <div class="content">
                                    <a href="/anime/"><h3 class="color-white mb-32">Silent Voice</h3></a>
                                    <ul class="card-tag-st unstyled">
                                        <li><h5 class="color-primary">New</h5></li>
                                        <li class="tag"><h6>18+</h6></li>
                                        <li class="tag"><h6 class="color-primary">HD</h6></li>
                                        <li class="tag"><h6>CC</h6></li>
                                    </ul>
                                    <h5 class="mb-32">Movie 1hr 45m</h5>
                                    <div class="d-flex align-items-center">
                                        <a href="/anime/" class="cus-btn filled"><i class="far fa-play"></i>Play</a>
                                        <a href="/anime/" class="cus-btn bordered ms-16"> <i class="fal fa-info-circle"></i>More Info</a>
                                    </div>
                                </div>
                            </div>
                            <div class="featured-card">
                                <img src="images/anime-card-14.png" alt="">
                                <div class="content">
                                    <a href="/anime/"><h3 class="color-white mb-32">Silent Voice</h3></a>
                                    <ul class="card-tag-st unstyled">
                                        <li><h5 class="color-primary">New</h5></li>
                                        <li class="tag"><h6>18+</h6></li>
                                        <li class="tag"><h6 class="color-primary">HD</h6></li>
                                        <li class="tag"><h6>CC</h6></li>
                                    </ul>
                                    <h5 class="mb-32">Movie 1hr 45m</h5>
                                    <div class="d-flex align-items-center">
                                        <a href="/anime/" class="cus-btn filled"><i class="far fa-play"></i>Play</a>
                                        <a href="/anime/" class="cus-btn bordered ms-16"> <i class="fal fa-info-circle"></i>More Info</a>
                                    </div>
                                </div>
                            </div>
                            <div class="featured-card">
                                <img src="images/anime-card-2_1.png" alt="">
                                <div class="content">
                                    <a href="/anime/"><h3 class="color-white mb-32">Silent Voice</h3></a>
                                    <ul class="card-tag-st unstyled">
                                        <li><h5 class="color-primary">New</h5></li>
                                        <li class="tag"><h6>18+</h6></li>
                                        <li class="tag"><h6 class="color-primary">HD</h6></li>
                                        <li class="tag"><h6>CC</h6></li>
                                    </ul>
                                    <h5 class="mb-32">Movie 1hr 45m</h5>
                                    <div class="d-flex align-items-center">
                                        <a href="/anime/" class="cus-btn filled"><i class="far fa-play"></i>Play</a>
                                        <a href="/anime/" class="cus-btn bordered ms-16"> <i class="fal fa-info-circle"></i>More Info</a>
                                    </div>
                                </div>
                            </div>
                            <div class="featured-card">
                                <img src="images/anime-card-1_1.png" alt="">
                                <div class="content">
                                    <a href="/anime/"><h3 class="color-white mb-32">Silent Voice</h3></a>
                                    <ul class="card-tag-st unstyled">
                                        <li><h5 class="color-primary">New</h5></li>
                                        <li class="tag"><h6>18+</h6></li>
                                        <li class="tag"><h6 class="color-primary">HD</h6></li>
                                        <li class="tag"><h6>CC</h6></li>
                                    </ul>
                                    <h5 class="mb-32">Movie 1hr 45m</h5>
                                    <div class="d-flex align-items-center">
                                        <a href="/anime/" class="cus-btn filled"><i class="far fa-play"></i>Play</a>
                                        <a href="/anime/" class="cus-btn bordered ms-16"> <i class="fal fa-info-circle"></i>More Info</a>
                                    </div>
                                </div>
                            </div>
                            <div class="featured-card">
                                <img src="images/anime-card-9.png" alt="">
                                <div class="content">
                                    <a href="/anime/"><h3 class="color-white mb-32">Silent Voice</h3></a>
                                    <ul class="card-tag-st unstyled">
                                        <li><h5 class="color-primary">New</h5></li>
                                        <li class="tag"><h6>18+</h6></li>
                                        <li class="tag"><h6 class="color-primary">HD</h6></li>
                                        <li class="tag"><h6>CC</h6></li>
                                    </ul>
                                    <h5 class="mb-32">Movie 1hr 45m</h5>
                                    <div class="d-flex align-items-center">
                                        <a href="/anime/" class="cus-btn filled"><i class="far fa-play"></i>Play</a>
                                        <a href="/anime/" class="cus-btn bordered ms-16"> <i class="fal fa-info-circle"></i>More Info</a>
                                    </div>
                                </div>
                            </div>
                            <div class="featured-card">
                                <img src="images/anime-card-10_1.png" alt="">
                                <div class="content">
                                    <a href="/anime/"><h3 class="color-white mb-32">Silent Voice</h3></a>
                                    <ul class="card-tag-st unstyled">
                                        <li><h5 class="color-primary">New</h5></li>
                                        <li class="tag"><h6>18+</h6></li>
                                        <li class="tag"><h6 class="color-primary">HD</h6></li>
                                        <li class="tag"><h6>CC</h6></li>
                                    </ul>
                                    <h5 class="mb-32">Movie 1hr 45m</h5>
                                    <div class="d-flex align-items-center">
                                        <a href="/anime/" class="cus-btn filled"><i class="far fa-play"></i>Play</a>
                                        <a href="/anime/" class="cus-btn bordered ms-16"> <i class="fal fa-info-circle"></i>More Info</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Shounen Area end -->
    
                <!-- popular categories Area start -->
                <section class="categories p-80">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <div class="col-xl-4 col-lg-7 mb-48 mb-xl-0">
                                <h2 class="color-white mb-16">Popular Categories</h2>
                                <h6 class="color-gray">Lorem ipsum dolor sit amet consectetur. Viverra gravida eget at nisi ultrices. Fringilla massa adipiscing pulvinar velit vitae consectetur.</h6>
                            </div>
                            <div class="col-xl-8">
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 col-6">
                                        <a href="anime-listing.html" class="categories-card mb-24">
                                            <img src="images/ac-1.png" alt="">
                                            <h4 class="color-white">Shoujo</h4>
                                        </a>
                                    </div>
                                    <div class="col-lg-3 col-md-4 col-6">
                                        <a href="anime-listing.html" class="categories-card mb-24">
                                            <img src="images/ac-2.png" alt="">
                                            <h4 class="color-white">Shounen</h4>
                                        </a>
                                    </div>
                                    <div class="col-lg-3 col-md-4 col-6">
                                        <a href="anime-listing.html" class="categories-card mb-24">
                                            <img src="images/ac-3.png" alt="">
                                            <h4 class="color-white">Adventure</h4>
                                        </a>
                                    </div>
                                    <div class="col-lg-3 col-md-4 col-6">
                                        <a href="anime-listing.html" class="categories-card mb-24">
                                            <img src="images/ac-4.png" alt="">
                                            <h4 class="color-white">Sci-Fi</h4>
                                        </a>
                                    </div>
                                    <div class="col-lg-3 col-md-4 col-6">
                                        <a href="anime-listing.html" class="categories-card mb-24 mb-xl-0">
                                            <img src="images/ac-5.png" alt="">
                                            <h4 class="color-white">Slice of Life</h4>
                                        </a>
                                    </div>
                                    <div class="col-lg-3 col-md-4 col-6">
                                        <a href="anime-listing.html" class="categories-card mb-24 mb-xl-0">
                                            <img src="images/ac-6.png" alt="">
                                            <h4 class="color-white">Isekai</h4>
                                        </a>
                                    </div>
                                    <div class="col-lg-3 col-md-4 col-6 offset-lg-0 offset-md-2">
                                        <a href="anime-listing.html" class="categories-card mb-24 mb-xl-0">
                                            <img src="images/ac-7.png" alt="">
                                            <h4 class="color-white">Rom-com</h4>
                                        </a>
                                    </div>
                                    <div class="col-lg-3 col-md-4 col-6">
                                        <a href="anime-listing.html" class="categories-card mb-24 mb-xl-0">
                                            <img src="images/ac-8.png" alt="">
                                            <h4 class="color-white">Thriller</h4>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- popular categories Area end -->
                
                <!-- Favorites Area start -->
                <section class="favorites st-2 p-80">
                    <div class="container-fluid">
                        <h2 class="color-white mb-48">All Time Favorites</h2>
                        <div class="row">
                            <div class="col-xl-3 col-lg-4 col-md-6">
                                <div class="featured-card mb-24">
                                    <img src="images/anime-card-15.png" alt="">
                                    <div class="content">
                                        <a href="/anime/"><h3 class="color-white mb-32">Silent Voice</h3></a>
                                        <ul class="card-tag-st unstyled">
                                            <li><h5 class="color-primary">New</h5></li>
                                            <li class="tag"><h6>18+</h6></li>
                                            <li class="tag"><h6 class="color-primary">HD</h6></li>
                                            <li class="tag"><h6>CC</h6></li>
                                        </ul>
                                        <h5 class="mb-32">Movie 1hr 45m</h5>
                                        <div class="d-flex align-items-center">
                                            <a href="/anime/" class="cus-btn filled"><i class="far fa-play"></i>Play</a>
                                            <a href="/anime/" class="cus-btn bordered ms-16"> <i class="fal fa-info-circle"></i>More Info</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-6">
                                <div class="featured-card mb-24">
                                    <img src="images/anime-card-12.png" alt="">
                                    <div class="content">
                                        <a href="/anime/"><h3 class="color-white mb-32">Silent Voice</h3></a>
                                        <ul class="card-tag-st unstyled">
                                            <li><h5 class="color-primary">New</h5></li>
                                            <li class="tag"><h6>18+</h6></li>
                                            <li class="tag"><h6 class="color-primary">HD</h6></li>
                                            <li class="tag"><h6>CC</h6></li>
                                        </ul>
                                        <h5 class="mb-32">Movie 1hr 45m</h5>
                                        <div class="d-flex align-items-center">
                                            <a href="/anime/" class="cus-btn filled"><i class="far fa-play"></i>Play</a>
                                            <a href="/anime/" class="cus-btn bordered ms-16"> <i class="fal fa-info-circle"></i>More Info</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-6">
                                <div class="featured-card mb-24">
                                    <img src="images/anime-card-16.png" alt="">
                                    <div class="content">
                                        <a href="/anime/"><h3 class="color-white mb-32">Silent Voice</h3></a>
                                        <ul class="card-tag-st unstyled">
                                            <li><h5 class="color-primary">New</h5></li>
                                            <li class="tag"><h6>18+</h6></li>
                                            <li class="tag"><h6 class="color-primary">HD</h6></li>
                                            <li class="tag"><h6>CC</h6></li>
                                        </ul>
                                        <h5 class="mb-32">Movie 1hr 45m</h5>
                                        <div class="d-flex align-items-center">
                                            <a href="/anime/" class="cus-btn filled"><i class="far fa-play"></i>Play</a>
                                            <a href="/anime/" class="cus-btn bordered ms-16"> <i class="fal fa-info-circle"></i>More Info</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-6">
                                <div class="featured-card mb-24">
                                    <img src="images/anime-card-17.png" alt="">
                                    <div class="content">
                                        <a href="/anime/"><h3 class="color-white mb-32">Silent Voice</h3></a>
                                        <ul class="card-tag-st unstyled">
                                            <li><h5 class="color-primary">New</h5></li>
                                            <li class="tag"><h6>18+</h6></li>
                                            <li class="tag"><h6 class="color-primary">HD</h6></li>
                                            <li class="tag"><h6>CC</h6></li>
                                        </ul>
                                        <h5 class="mb-32">Movie 1hr 45m</h5>
                                        <div class="d-flex align-items-center">
                                            <a href="/anime/" class="cus-btn filled"><i class="far fa-play"></i>Play</a>
                                            <a href="/anime/" class="cus-btn bordered ms-16"> <i class="fal fa-info-circle"></i>More Info</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-6">
                                <div class="featured-card mb-24 mb-xl-0">
                                    <img src="images/anime-card-3.png" alt="">
                                    <div class="content">
                                        <a href="/anime/"><h3 class="color-white mb-32">Silent Voice</h3></a>
                                        <ul class="card-tag-st unstyled">
                                            <li><h5 class="color-primary">New</h5></li>
                                            <li class="tag"><h6>18+</h6></li>
                                            <li class="tag"><h6 class="color-primary">HD</h6></li>
                                            <li class="tag"><h6>CC</h6></li>
                                        </ul>
                                        <h5 class="mb-32">Movie 1hr 45m</h5>
                                        <div class="d-flex align-items-center">
                                            <a href="/anime/" class="cus-btn filled"><i class="far fa-play"></i>Play</a>
                                            <a href="/anime/" class="cus-btn bordered ms-16"> <i class="fal fa-info-circle"></i>More Info</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-6">
                                <div class="featured-card mb-24 mb-xl-0">
                                    <img src="images/anime-card-7_1.png" alt="">
                                    <div class="content">
                                        <a href="/anime/"><h3 class="color-white mb-32">Silent Voice</h3></a>
                                        <ul class="card-tag-st unstyled">
                                            <li><h5 class="color-primary">New</h5></li>
                                            <li class="tag"><h6>18+</h6></li>
                                            <li class="tag"><h6 class="color-primary">HD</h6></li>
                                            <li class="tag"><h6>CC</h6></li>
                                        </ul>
                                        <h5 class="mb-32">Movie 1hr 45m</h5>
                                        <div class="d-flex align-items-center">
                                            <a href="/anime/" class="cus-btn filled"><i class="far fa-play"></i>Play</a>
                                            <a href="/anime/" class="cus-btn bordered ms-16"> <i class="fal fa-info-circle"></i>More Info</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-6">
                                <div class="featured-card mb-24 mb-xl-0">
                                    <img src="images/anime-card-18.png" alt="">
                                    <div class="content">
                                        <a href="/anime/"><h3 class="color-white mb-32">Silent Voice</h3></a>
                                        <ul class="card-tag-st unstyled">
                                            <li><h5 class="color-primary">New</h5></li>
                                            <li class="tag"><h6>18+</h6></li>
                                            <li class="tag"><h6 class="color-primary">HD</h6></li>
                                            <li class="tag"><h6>CC</h6></li>
                                        </ul>
                                        <h5 class="mb-32">Movie 1hr 45m</h5>
                                        <div class="d-flex align-items-center">
                                            <a href="/anime/" class="cus-btn filled"><i class="far fa-play"></i>Play</a>
                                            <a href="/anime/" class="cus-btn bordered ms-16"> <i class="fal fa-info-circle"></i>More Info</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-6">
                                <div class="featured-card mb-24 mb-xl-0">
                                    <img src="images/anime-card-1_1.png" alt="">
                                    <div class="content">
                                        <a href="/anime/"><h3 class="color-white mb-32">Silent Voice</h3></a>
                                        <ul class="card-tag-st unstyled">
                                            <li><h5 class="color-primary">New</h5></li>
                                            <li class="tag"><h6>18+</h6></li>
                                            <li class="tag"><h6 class="color-primary">HD</h6></li>
                                            <li class="tag"><h6>CC</h6></li>
                                        </ul>
                                        <h5 class="mb-32">Movie 1hr 45m</h5>
                                        <div class="d-flex align-items-center">
                                            <a href="/anime/" class="cus-btn filled"><i class="far fa-play"></i>Play</a>
                                            <a href="/anime/" class="cus-btn bordered ms-16"> <i class="fal fa-info-circle"></i>More Info</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Favorites Area end -->
            </div>
            <!-- Main Content End -->

            <!-- footer Area start -->
            <footer class="footer pt-80">
                <div class="container-fluid">
                    <ul class="social-icon unstyled mb-32">
                        <li> <a href=""><img src="images/instagram.png" alt=""></a></li>
                        <li> <a href=""><img src="images/facebook.png" alt=""></a></li>
                        <li> <a href=""><img src="images/twitter.png" alt=""></a></li>
                    </ul>
                    <div class="copyright-text">
                        <div class="row">
                            <div class="col-lg-4 offset-lg-4">
                                <p class="color-gray mb-lg-0 mb-32">All rights reserved by AinzTV ©2024.</p>
                            </div>
                            <div class="col-lg-4 text-lg-end text-center">
                                <a href="" class="ps-0"><p class="color-gray">Privacy Policy</p></a>
                                <a href=""><p class="color-gray">Comments Policy</p></a>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- footer Area end -->

            <!-- modal-popup area start  -->
            <div class="modal fade" id="videoModal" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="top_bar">
                            <h4 class="modal-title">Demon Slayer Season 4</h4>
                            <button type="button" class="close" id="closeVideoModalButton" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true"><i class="fas fa-times"></i> <b>Close</b></span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <video controls="" title="Video">
                                <source src="media/movie-video.mp4" type="video/mp4">
                            </video>
                        </div>
                    </div>
                </div>
            </div>
            <!-- modal-popup area end  -->

        </div>
            <!-- Jquery Js -->
            <script src="js/jquery-3.6.3.min.js"></script>
            <script src="js/bootstrap.min.js"></script>
            <script src="js/jquery.countdown.min.js"></script>
            <script src="js/slick.min.js"></script>
            <script src="js/jquery-appear.js"></script>
            <script src="js/jquery-validator.js"></script>
            <script src="js/aksVideoPlayer.js"></script>
            <!-- Site Scripts -->
            <script src="js/app.js"></script>
    

</body></html>